.container {
    width: 100%;
    height: 100vh;

    background: url('/images/showcase.jpg') no-repeat;
    background-size: cover;
    background-position-x: 80%;
    z-index: 0;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 600px) {
        height: 100px;
    }

    .logo {
        width: 100%;
        height: 100%;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 1rem;

        img {
            width: 50px;
            height: 50px;
        }

        @media screen and (min-width: 740px) {
            img {
                width: 100px;
                height: 100px;
            }
        }

        @media screen and (min-width: 600px) and (max-width: 740px) {
            img {
                width: 70px;
                height: 70px;
            }
        }
            
    }

    ul {
        order: 1;
        list-style: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        li {
            font-size: 1.3rem;
            color: white;

            a {
                color: white;
                text-decoration: none;
                width: 100%;
                height: 100%;

                &:hover{
                    color: #ce1919;
                }
            }
        }

        @media screen and (min-width: 600px) {
            height: 100px;
            position: fixed;
            left: 0;
            top: 30%;
            flex-direction: column;
            height: 50%;
            width: 60px;
            li {
                font-size: 1.8rem;
            }
            padding: 1rem;
            border-radius: 0 20px 20px 0;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

.banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 40%;
    align-items: flex-start;
    font-size: 2rem;
    color: white;
    line-height: 4rem;
    padding-right: 10%;

    button {
        margin-top: 20px;
    }

    @media screen and (min-width: 740px) {
        padding-top: 5%;
        font-size: 2.5rem;

        button {
            margin-top: 20px;
            padding: 1rem 3rem;
            font-size: 1.2rem;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 740px) {
        padding-top: 10%;
        font-size: 2rem;
        
        button {
            margin-top: 20px;
            padding: 1rem 3rem;
            font-size: 0.8rem;
        }
    }
}