@import 'theme.scss';
@import 'mixins';

.container {
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}