
@import "mixins";
@import "theme";

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.feature {
    width: 300px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: inset 0px 0px 10px 10px rgba(255, 143, 143, 0.1);
    background-color: rgba($lighter, 0.1);
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    img {
        width: 200px;
        height: 150px;
        margin: auto;
    }

    h3 {
        margin-top: 2rem;
    }

    p {
        margin-top: 1.5rem;
    }
}

.banner {

    width: 100vw;
    height: 40vh;

    position: relative;
    background: url('linuxiha/images/working-with-linuxiha.png') no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        color: $text-dark;
        width: 70%;
        color: $primary;
    }

    @include large() {
        height: 60vh;
        background-position-y: 100%;
        background-size: 800px 600px;
        align-items: flex-end;
        h2 {
            font-size: 2.5rem;
            font-weight: 500;
        }
    }

    @include thin() {
        background-size: 300px 200px;
        background-position: left;
        background-position-y: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        h2 {
            font-size: 2rem;
        }
    }
}