
@import "mixins";


.container {
    width: 100vw;
    height: 100vh;

    position: relative;
    background: url('/images/showcase.jpg') no-repeat;
    background-size: cover;
    background-position-x: 80%;
    z-index: 0;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 100%;
        height: 100%;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 1rem;

        img {
            width: 50px;
            height: 50px;
        }

        @include large() {
            img {
                width: 100px;
                height: 100px;
            }
        }

        @include medium() {
            img {
                width: 70px;
                height: 70px;
            }
        }
            
    }

    .socials {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        a {
            color: white;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                color: #ce1919;
            }
        }
        

        @include large() {
            font-size: 3vw;
            height: 60vh;
            width: 7vw;
            position: fixed;
            left: 0;
            top: 30%;
            flex-direction: column;
            height: 50%;
            padding: 2rem;
            border-radius: 0 20px 20px 0;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

.banner {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    align-items: flex-start;
    font-size: 3vmin;
    color: white;
    line-height: 4rem;
    padding-right: 10%;

    button {
        font-size: 4vmin;
        margin-top: 1.3rem;
    }

    @media (max-height: 300px) {
        h1:first-of-type {
            display: none;
        }
    }

    @media (max-height: 500px) {
        margin-top: 10vmin;
    }
}