
@import "mixins";
@import "theme";

.banner {

    width: 100vw;
    height: 40vh;

    position: relative;
    background: url('/images/working-with-linuxiha.png') no-repeat;
    background-size: contain;
    line-height: 4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 3vmin;
    color: white;

    h2 {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        color: $text-dark;
        width: 50%;
    }

    h1 {
        font-size: 2rem;
        text-shadow: $primary;
        color: $primary;
    }
}